/* ubuntu-300 - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/ubuntu-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/ubuntu-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* ubuntu-regular - latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/ubuntu-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/ubuntu-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* ubuntu-500 - latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/ubuntu-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/ubuntu-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* ubuntu-700 - latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/ubuntu-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/ubuntu-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/*  Global */ 

body {
    height: 100vh; 
    width: 100%; 
    margin: 0 auto;
    font-family: 'Ubuntu'; 
    font-weight: 300;
    font-size: 16px;
    font-weight: 100;
}

a {
    text-decoration: none; 
    width: 100%; 
    display: flex; 
    justify-content: center;
}


/* Homepage */

.wrapper {
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    background-color: #f2f2f2;
    font-size: 16px; 
}


.left-sctn {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #232121;
    margin: 1rem 1rem; 
}

.subtitle {
    width: 90%; 
}

.left-sctn input {
    height: 32px; 
    width: 90%; 
    outline: none;  
    border-radius: 4px; 
    margin: 2rem 0;
    border: 1px solid grey;
}

.div-find-btn {
    width: 100%; 
    display: flex; 
    justify-content: center;
}

.left-sctn button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 4px; 
    height: 43px; 
    border: none;   
    background-color: #000000;
    color: white; 
    letter-spacing: 2px;
}




.left-sctn button:hover {   
    cursor: pointer; 
    background-color: #283032;
}

.right-sctn {
    width: 100%;
    height: 100%;    
    background-image: url('img/header-mhh.png');
    background-repeat: no-repeat;
    background-position: -288px;
    border-radius: 100% 0% 100% 0% / 48% 100% 0% 52%;
}

.logo {
    height: 100px; 
    margin-bottom: 16px; 
}


/* Index.html Media Queries */ 

@media (min-width: 600px) {

    a {
        justify-content: flex-start; 
    }

    .wrapper {
        flex-direction: row; 
    }

    .left-sctn {
        width: 50%;
        align-items: flex-start; 
        padding-left: 3rem;
    }

    .right-sctn {
        width: 50%; 
    }

    .left-sctn input {
        width: 200px; 
    }

    .left-sctn button {
        width: 200px; 
    }

    .right-sctn {
        border-radius: 100% 0% 70% 30% / 41% 100% 0% 59%;
    }
} 

@media (min-width: 800px) {
   
    .left-sctn {
        padding-left: 5rem;
    }

    .left-sctn input {
        width: 300px; 
    }

    .left-sctn button {
        width: 300px; 
    }
} 


