/* Restaurant Pizzaria Mamma Pia & Basket */


body {
    height: 100vh; 
    width: 100%; 
    margin: 0 auto;
    font-family: 'Ubuntu'; 
    font-weight: 300;
    font-size: 16px;
    font-weight: 100;
    background: #f2f2f2;
}

h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 8px 0;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.fw-400 {
    font-weight: 400; 
}

.toprow {
    background-color: #0e1111; 
    color: white;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    
    height: 10vh;
}

.menu-bar {
    height: 35px; 
    padding: 0.5rem 0.5rem; 
}

.nav-li {
    background-color: #0e1111;  
    list-style: none;
    height: max-content;
    position: absolute; 
    z-index: 3;
    top: 0; 
    right: 0; 
    width: 50%;
    opacity: 0.9; 
}

.nav-li ul a {
    color: white; 
    text-decoration: none; 
    padding: 1rem 0 !important; 
    display: flex;
    justify-content: center;
}

.nav-li ul {
    margin: 0; 
    padding: 0; 
    padding-left: 1rem; 
}

.cloe-menu-bar-btn {
    display: flex; 
    justify-content: flex-end;
}

.menu {
    display: none; 
    letter-spacing: 3px; 
}

.logo-sctn {
    display: flex;
    align-items: center;
    margin: 0 80px;
}

#logo-mhh {
    width: 70px; 
    height: auto;
    padding: 0.5rem 2rem;
    left: .5rem;
}

.main {
    display: flex; 
    height: 90vh;
}

#menue-sctn {
    background-color: #f2f2f2;
    width: 100vw;
    margin: 0 auto;
    padding-bottom: 140vh; 
}


#header {
    background-image: url("img/pizza.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 140px;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 6px 1px grey;
}

#logo-wrapper {
    background-color: rgb(254 244 232);
    border-radius: 100%;
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 77px;
    box-shadow: 4px 4px 16px silver;
    border-radius: 75% 25% 84% 16% / 32% 70% 30% 68%; 
}

#logo {
    height: 130px;
    width: 130px;
    border-radius: 75% 25% 84% 16% / 32% 70% 30% 68%; 
    object-fit: fill;
}

.h1-name {
    padding: 5.5rem 20px 1rem 20px;
    color: rgb(75, 74, 74);
    margin-bottom: 0px;
    font-size: 1.5rem;
}

.h2-kategorie {
    font-size: 1rem;
    padding: 10px 10px;
    height: max-content; 
    background-color: rgb(255, 255, 255 );
    margin: 0 17px;
    color: rgb(75, 74, 74);
}





/** Menu ------------------------------------------------ **/


.dish {
    color: rgb(75, 74, 74);
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 17px;
    border: 1px solid rgb(238, 237, 236);
    padding-left: 10px; 
    opacity: 0.9; 
}

#dish-description {
    margin: 5px 0; 
    font-size: 14px; 
}

#preis {
    color: 	#414a4c; 
    margin: 5px 0;
    font-weight: 300;
    font-size: 14px;
}

.dish:hover {
    border: 1px solid rgb(0, 0, 0);
}

#add-btn {
    height: 20px;
    width: 20px;
    border: 1px solid rgb( 238, 237, 236);
    padding: 4px 4px;
}
#add-btn {
    cursor: pointer;
}



.pizza1 {
    height: 100px;
}

.min {
    margin-left: 10px;
    margin-bottom: 10px; 
    width: 280px; 
}







/** Cart -------------------------------------------- **/ 


.warenkorb-sctn {
    background-color: white;
    width: 70vw;
    height: max-content; 
    
    align-items: center;
    flex-direction: column; 
    box-shadow: -1px 0px 7px 0px #aaa;
    position: fixed; 
    left: 15%;
    top: 20%;
}


.h3-cart {
    padding: 1.5vh 0; 
}

.headline-img {
    align-items: center;
}

#close-icon {
    height: 25px;
    width: 25px;
    cursor: pointer;
    position: fixed;
    left: 20px; 
}

.warenkorb {
    width: 65vw;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 10px;
    box-shadow: 0 5px 5px -5px #333;
}
.small-icon {
    height: 10px;
    width: 10px;
    object-fit: contain; 
    padding: 6px 6px;
    cursor: pointer;
}
.icon-o {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.button-mobil {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none; 
    height: 50px;
    width: 97%;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; 
    margin: 0 auto;
}






/** Bill ---------------------------------- **/

.pay {
    width: 65vw;
    display: flex;
    justify-content: space-evenly;
    padding: 35px 0;
    flex-direction: column;
}

.flex {
    display: flex; 
    justify-content: space-between;
    padding: 8px 10px;
}

button {
    background-color: #0e1111;
    letter-spacing: 1px;
    color: white;
    height: 50px;
    width: 90%;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    border: none; 
}

button:hover  {
    background-color: rgb(56, 57, 60);
}

.button-mobil:hover {
    background-color: #0e1111;
}






/* MEDIA QUERIES ------------------- */ 

@media (min-width: 800px) {

    .h1-name {
        font-size: 25.6px;
    }

    #logo-wrapper {
        background-color: rgb(254 244 232);
        border-radius: 75% 25% 84% 16% / 32% 70% 30% 68%;
        height: 130px;
        width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute; 
        top: 77px;
        box-shadow: 4px 4px 16px silver;

    }

    #logo {
        height: 130px;
        width: 130px;
        border-radius: 75% 25% 84% 16% / 32% 70% 30% 68%;
        object-fit: fill;
    }
}


@media (min-width: 400px) {
    .menu {
        display: block; 
    }
}


@media (min-width: 1000px) {

    .warenkorb-sctn {
        position: sticky;
        top: 0; 
        background-color: white;
        width: 35vw;
        height: max-content; 
        display: flex; 
        align-items: center;
        flex-direction: column; 
        box-shadow: -1px 0px 7px 0px #aaa;
        
    }

    .warenkorb {
        padding: 35px 0;
        width: 35vw;
    }

    #menue-sctn {
        width: 65vw;
    }
    

    .button-mobil {
        display: none;
    }

    #close-icon {
        display: none;
    }

    .pay {
        width: 30vw;
    }
}